In [40]:
from pandas import ExcelWriter
from pandas import ExcelFile
import pandas as pd
import numpy as np
import psycopg2
import datetime
from random import randint
import pandas.io.sql as sqlio
import psycopg2
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Data Pre Processing

In [41]:
er = pd.read_csv('Exchange_Rate_Report.csv')
er.head()

,"Representative rates for the period January 20, 2020 - April 20, 2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Brazilian real (BRL),Canadian dollar (CAD),Chinese yuan (CNY),Euro (EUR),Indian rupee (INR),Israeli New Shekel (ILS),Japanese yen (JPY),Philippine peso (PHP),Singapore dollar (SGD),Swiss franc (CHF),U.S. dollar (USD)
2,21-Jan-2020,4.2008,1.3067,6.9058,1.1115,71.1825,3.455,110,50.944,1.3491,0.9675,1
3,22-Jan-2020,4.1883,1.3116,6.9019,1.1088,71.2056,3.452,109.88,51.039,1.3498,0.9716,1
4,23-Jan-2020,4.1656,1.3143,6.9307,1.1091,71.2437,3.458,109.68,50.942,1.3489,0.9685,1

# Changing Header

In [42]:
er.columns.values

array(['Representative rates for the period  January 20, 2020 - April 20, 2020',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'], dtype=object)

In [43]:
er.columns=er.iloc[1]
er=er[2:]

In [45]:
er

1,Date,Brazilian real (BRL),Canadian dollar (CAD),Chinese yuan (CNY),Euro (EUR),Indian rupee (INR),Israeli New Shekel (ILS),Japanese yen (JPY),Philippine peso (PHP),Singapore dollar (SGD),Swiss franc (CHF),U.S. dollar (USD)
2,21-Jan-2020,4.2008,1.3067,6.9058,1.1115,71.1825,3.455,110,50.944,1.3491,0.9675,1
3,22-Jan-2020,4.1883,1.3116,6.9019,1.1088,71.2056,3.452,109.88,51.039,1.3498,0.9716,1
4,23-Jan-2020,4.1656,1.3143,6.9307,1.1091,71.2437,3.458,109.68,50.942,1.3489,0.9685,1
5,24-Jan-2020,4.1763,1.314,NaN,1.1035,NaN,3.455,109.55,50.963,1.3501,NaN,1
6,27-Jan-2020,4.219,1.3182,NaN,1.1025,71.3948,3.458,108.93,50.899,NaN,0.96925,1
...,...,...,...,...,...,...,...,...,...,...,...,...
82,The International Monetary Fund...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,"implied, regarding these tables...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,The Fund shall not be liable fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,in connection with this site. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Normalize Data

In [54]:
df=er.melt(id_vars='Date',var_name="Currency",value_name="Rate")

# Cleaning extra rows

In [58]:
df=df[0:828]

In [59]:
df.tail(20)

            Date                                  Currency     Rate
808  23-Mar-2020  Swiss franc   (CHF)                        0.9879
809  24-Mar-2020  Swiss franc   (CHF)                        0.9746
810  25-Mar-2020  Swiss franc   (CHF)                        0.9803
811  26-Mar-2020  Swiss franc   (CHF)                        0.9704
812  27-Mar-2020  Swiss franc   (CHF)                        0.9623
813  30-Mar-2020  Swiss franc   (CHF)                         0.956
814  31-Mar-2020  Swiss franc   (CHF)                        0.9654
815   1-Apr-2020  Swiss franc   (CHF)                        0.9654
816   2-Apr-2020  Swiss franc   (CHF)                       0.96675
817   3-Apr-2020  Swiss franc   (CHF)                       0.97635
818   6-Apr-2020  Swiss franc   (CHF)                        0.9781
819   7-Apr-2020  Swiss franc   (CHF)                        0.9731
820   8-Apr-2020  Swiss franc   (CHF)                       0.97125
821   9-Apr-2020  Swiss franc   (CHF)                       0.97165
822  10-Apr-2020  Swiss franc   (CHF)                           NaN
823  13-Apr-2020  Swiss franc   (CHF)                           NaN
824  14-Apr-2020  Swiss franc   (CHF)                        0.9636
825  15-Apr-2020  Swiss franc   (CHF)                        0.9659
826  16-Apr-2020  Swiss franc   (CHF)                       0.96665
827  17-Apr-2020  Swiss franc   (CHF)                       0.97045

In [62]:
# Creating table weather in covid database
try:
    dbConnection = psycopg2.connect(
    user = "postgres",
    password = "password",
    #host = "192.168.56.30",
    host = "localhost",
    port = "5432",
    database = "covid")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    dbCursor.execute("""
    CREATE TABLE exr(
    date char(100),
    currency char(50),
    rate char(50)
    );
    """)
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)
finally:
    if(dbConnection): dbConnection.close()

In [65]:
try:
    dbConnection = psycopg2.connect(
    user = "postgres",
    password = "password",
    #host = "192.168.56.30",
    host = "localhost",
    port = "5432",
    database = "covid")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    insertString = "INSERT INTO exr VALUES('{}','{}','{}')"
    for i in range(len(df)):
        Date =df.iloc[i:i+1,:]['Date'].values[0]
        Currency =df.iloc[i:i+1,:]['Currency'].values[0]
        Rate =df.iloc[i:i+1,:]['Rate'].values[0]
        row = Date, Currency, Rate
        dbCursor.execute(insertString.format(*row))
    dbConnection.commit()
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error:", dbError)
    raise
finally:
    if(dbConnection): dbConnection.close()